@use './styles/util' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: rem(32) rem(24);
    font-family: $font-family;
    font-weight: 400;
    color: $black-color;
}
