@use 'variables' as *;

.flex {
    display: flex;

    &-ac {
        align-items: center;
    }

    &-jsb {
        justify-content: space-between;
    }

    &-jc {
        justify-content: center;
    }

    &-dc {
        flex-direction: column;
    }
}

.text-color {
    color: $light-text-color;
}

.height-86vh {
    height: 86vh;
}
