// Fonts
$font-family: 'Inter', sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Colors
$black-color: #000000;
$white-color: #ffffff;

$fem-noun: #fd9fee;
$masc-noun: #9fcafd;
$neut-noun: #fbfd9f;

$border-color: rgba(0, 0, 0, 0.1);

$light-text-color: #7d7d7d;
